#wrapper {
    background-color: white;

    .container {
        display: grid;
        grid-gap: 1em;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        width: 80%;
        color: black;
        margin: auto;

        .project_container {
            border: solid rgb(94 66 166);
            box-shadow: 1px 1px 10px black;
            padding: 1em;
            position: relative;
            display: grid;
            grid-template-rows: 1fr 0.4fr 0.5fr;

            .img_project_container {
                overflow: hidden;
                height: 200px;

                img {
                    width: 100%;
                }
            }

            .description {
            	position: relative;
            	height: 100%;
                h2 {
                    color: black;
                }

                p {}
            }

            .interact {
                bottom: 0%;

                .actions {
                    //border: solid;
                    justify-content: center;

                    li {
                        font-size: 1.1em;
                        font-weight: bold;

                        a {
                            border: solid rgb(94 66 166) !important;
                            color: rgb(94 66 166) !important;
                            font-weight: bold;
                            margin: 0.3em 0;
                            transition: background-color 0.5s, color 0.5s;
                        }
                        a:hover {
                        	background-color: rgb(94 66 166) !important;
                        	color: white !important;
                        }
                    }
                }

                .icons {
                    font-size: 2.5em;

                    i {
                        margin: 0 0.1em;
                    }
                    .fa-html5 {
                    	color: #dd4b25;
                    }
                    .fa-css3-alt {
                    	color: #016cb4;
                    }
                    .fa-js-square {
                    	color: #efd81d;
                    }
                    .fa-sass {
                    	color: #c76494;
                    }
                    .fa-react {
                        color: #61dafb;
                    }
                }
            }
        }
    }
}