#wrapper {
	background-color: white;
	padding: 2em 0;
    .container {
    	display: grid;
    	grid-gap: 1em;
    	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    	width: 80%;
    	color: black;
    	margin: auto;
        .project_container {
            text-align: center;
            border: solid rgb(94 66 166);
            box-shadow: 1px 1px 10px black;
            padding: 1em;

            .img_project_container {
            	overflow: hidden;
            	height: 300px;
            	img {
            		width: 100%;
            	}
            }

            .description {
                h2 {
                	color: black;
                }

                p {}
            }

            .interact {
            	.actions {
            		//border: solid;
            		justify-content: center;
            		li {
            			font-size: 1.1em;
            			font-weight: bold;
            			padding-left: 0;
            			a {
            				border: solid rgb(94 66 166) !important;
            				color: rgb(94 66 166) !important;
            				font-weight: bold;
            			}
            		}
            	}
            	.icons {
            		font-size: 2.5em;
            		
            		i {
            			margin: 0 0.1em;
            		}
            	}
            }
        }
    }
}